.container {
  padding: 0 3rem;
}
.main {
  padding: 0 6rem;
}
.wrapper {
  padding: 0 4.5rem;
}
.topFrame {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 50px;
  border: 1px solid #7c7c7c;
  background-color: #d8d8d8;
  margin-bottom: 1.5rem;
}
.billboard {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 250px;
  border: 1px solid #7c7c7c;
  background-color: #d8d8d8;
  margin-bottom: 3rem;
}
.bannerText {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #7c7c7c;
}
.section {
  margin-bottom: 4rem;
}
.wrapperChoice {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.box {
  width: 20%;
  gap: 20px;
  margin-right: 1rem;
}
.boxContainer {
  margin-top: -0.7rem;
  border: 1px solid #e5e5e5;
  border-radius: 13px;
  padding: 2rem 1rem;
}
.products {
  border: 1px solid black;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  width: 230px;
}
.editors {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-evenly;
}
.editorName {
  margin-bottom: -0.8rem;
  text-transform: capitalize;
  font-family: "Poppins";
  font-weight: 700;
  color: "#393939";
}
.editorRole {
  font-family: "Poppins";
  font-weight: lighter;
  color: "#e5e5e5";
  font-size: 12px;
}
.star {
  color: #db284e;
}
.ratingWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.imgEditorWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.videoContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 30%;
  column-gap: 20px;
}
.seeMore {
  color: #db284e;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.rate {
  display: flex;
  justify-content: space-between;
  padding: 2px 1rem 0 1rem;
}
.product-name {
  margin-bottom: -0.8rem;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 700;
  font-size: 18px;
}
.reviewer {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #e5e5e5;
}
.boxReviews {
  width: 26vw;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  height: 250px;
}
